#accordion, #BAHaccordion {
  width: 100%;
  min-width: 320px;
  overflow: hidden;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-align: left;

}
/* the '+' means the label directly after the input */
#accordion input:checked + label {
  /*background: #b3d9ff;*/
  background:#1a75ff;
}
#BAHaccordion input:checked + label {
  background: #b3d9ff;
}
/* remove the checkbox in front-end visidualy, but not the function */
#accordion input {
  display: none;
}
#BAHaccordion input {
  display: none;
}
/* Give the label some styling */
#accordion input + label {
  /*Display, color, position, layout*/
  display: block;
  border-bottom: 1px solid #b3d9ff; /*#3399cc;*/
  position: relative;
  /*background: #49b1e5;*/
  background:#b3d9ff;
  padding: 10px;

  /*Pointer*/
  cursor: pointer;

  /*Font*/
  font-weight: bold;
  /*color: white;*/

  /*This is so that when the background color changes, it will happen happen slowly*/
  transition: background 0.75s;
  -moz-transition: background 0.75s;
  -o-transition: background 0.75s;
  -webkit-transition: background 0.75s;
}
#BAHaccordion input + label {
  /*Display, color, position, layout*/
  display: block;
  border-bottom: 1px solid #5f7ab9; /*#3399cc;*/
  position: relative;
  /*background: #49b1e5;*/
  background:#5f7ab9;
  padding: 10px;

  /*Pointer*/
  cursor: pointer;

  /*Font*/
  font-weight: bold;
  /*color: white;*/

  /*This is so that when the background color changes, it will happen happen slowly*/
  transition: background 0.75s;
  -moz-transition: background 0.75s;
  -o-transition: background 0.75s;
  -webkit-transition: background 0.75s;
}
/*Make the background color change when someone hovers over the label*/
#accordion input + label:hover {
  background: #2f416a;
}
#BAHaccordion input + label:hover {
  background: #2f416a;
}
/* Styling the Section div */
#accordion .sectionI {
  /*space for the text to breathe*/
  padding: 0 10px;
  /*transitioning between states will look smoother*/
  transition: height 0.75s, opacity 0.75s;
  -moz-transition: height 0.75s, opacity 0.75s;
  -o-transition: height 0.75s, opacity 0.75s;
  -webkit-transition: height 0.75s, opacity 0.75s;
  /* "hide" the sections */
  opacity: 0;
  height: 0;
}
#BAHaccordion .section {
  /*space for the text to breathe*/
  padding: 0 10px;
  /*transitioning between states will look smoother*/
  transition: height 0.75s, opacity 0.75s;
  -moz-transition: height 0.75s, opacity 0.75s;
  -o-transition: height 0.75s, opacity 0.75s;
  -webkit-transition: height 0.75s, opacity 0.75s;
  /* "hide" the sections */
  opacity: 0;
  height: 0;
}
#accordion .sectionBAH {
  /*space for the text to breathe*/
  padding: 0 10px;
  /*transitioning between states will look smoother*/
  transition: height 0.75s, opacity 0.75s;
  -moz-transition: height 0.75s, opacity 0.75s;
  -o-transition: height 0.75s, opacity 0.75s;
  -webkit-transition: height 0.75s, opacity 0.75s;
  /* "hide" the sections */
  opacity: 0;
  height: 0;
}
#accordion input:checked + label + .sectionI {
  display: block;
  overflow: auto;
  height: 180px;
  opacity: 1;
  background: white;
  color: #333;
}
#BAHaccordion input:checked + label + .section {
  display: block;
  overflow: auto;
  height: 180px;
  opacity: 1;
  background: white;
  color: #333;
}
#accordion input:checked + label + .sectionBAH {
  display: block;
  overflow: auto;
  height: 680px;
  opacity: 1;
  background: white;
  color: #333;
}
#accordion input + label:after {
  /*font-size:14px;*/
  position: absolute;
  top: 14px;
  right: 10px;
  transition: 0.75s;
  -moz-transition: transform 0.75s;
  -o-transition: transform 0.75s;
  -webkit-transition: transform 0.75s;
}
#BAHaccordion input + label:after {
  /*font-size:14px;*/
  position: absolute;
  top: 14px;
  right: 10px;
  transition: 0.75s;
  -moz-transition: transform 0.75s;
  -o-transition: transform 0.75s;
  -webkit-transition: transform 0.75s;
}
#accordion input + label:after {
  transition: 0.75s;
}
#BAHaccordion input + label:after {
  transition: 0.75s;
}
/*#accordionI .sectionI h4 {
  margin: .5em;
}
#BAHaccordion .section h4 {
  margin: .5em;
}*/
#accordion .sectionI ul {
  padding-top: .5em;
}
#BAHaccordion .section ul {
  padding-top: .5em;
}
#accordion > .sectionI > ul > li {
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 1em;
}
#BAHaccordion > .section > ul > li {
  list-style-position: inside;
  list-style-type: disc;
  padding-left: 1em;
}
#BAHaccordion input:checked + label + .more-height {
  height: 320px;
}
#BAHaccordion input:checked + label + .high-height {
  height: 400px;
}
