/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  /*border: 1px solid red;*/
}

html {
  background-color: #f2f2f2;
}

body {
  /*width: 960px;*/
  margin: 0 auto;
  border-left: 2px solid #d9d9d9;
  border-right: 2px solid #d9d9d9;
  background-color:#FFFFFF;
}

/* Header */
/* Header contains top nav, pic, and name */
header {
  background: #a9b7d9;
}
.topImg {
  background-image: url("http://i.imgur.com/imZreuU.jpg");
  background-size: cover;
  background-position:center;
  width: 100%;
  height: 18em;
  margin: 0;
  padding: 0;
}
.name {
  text-align: center;
  height: 3em;
}
/* nav bar */
nav {
  width: 100%;
  /*height: 3em;*/
  text-align: center;
  /*background: #f3f1f2;*/
  /*background: #a9b7d9;
    border-buttom: 2px solid #a9b7d9;*/
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float:left;
  padding: 1em 1em 1em 3em;
  /*border: 1px solid blue;*/
}
nav ul li a {
  display: flex;
  justify-content: space-around;
  width: 150px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: black;
}
nav ul li a:hover {
  cursor: pointer;
}


/* main contains 4 sections */
main  {
  clear: both;
  text-align: center;
  margin: 0;
  /*border: 1px solid red;*/
}

/* About Me Section */
#aboutMe {
  background: #b3d9ff;
  border-color: #b3d9ff;
  margin:0;
  padding: .5em;
  /*height: 300px;*/
}

#aboutMe img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  float: left;
  margin: 1em;
}
#aboutMe h2 {
  text-align: left;
  margin: 1em 0;
}
#aboutMe p {
  text-align: left;
  margin-right: 1em;
  font-size: 1.2em;
}

/* Training Section */
#trainings div h2 {
  background: #a9b7d9;
  text-align: center;
  padding: 1em 0;
}
#mc {
  margin: 1em 1em .5em 1em;
  padding: .5em 3em;
}
#mc img, #gm img {
  width: 100px;
  height: auto;
  float: left;
  margin-left: 5em;
}
#mc p, #gm p {
  text-align: left;
  padding-left: 15em;
}
#ga, #gm {
  margin: 0 1em;
  padding: .5em 3em;
}
#gm {
  margin-bottom: 1em;
}
#ga img {
  width: 100px;
  height: auto;
  float: right;
  margin-right: 3em;
  vertical-align: bottom;
}
#ga p {
  text-align: left;
  margin-left: 5em;
}
#gaP {
  margin-top: .5em;
}

/* Projects Section */
/*.projectNav {
  height: 3em;
}
.projectNav ul {
  list-style: none;
  margin:0;
  padding:0;
  position: relative;
}
.projectNav ul li {
  float: left;
}
.projectNav ul li a {
  display: block;
  width: 240px;
  text-align: center;
  padding: 1em 0;
  text-decoration: none;
  background: #b3d9ff;
  color: #6666ff;
  font-weight: bold;
}*/

#projects div h2 {
  background: #a9b7d9;
  text-align: center;
  padding: 1em 0;
}

.oneProject {
  /*width: 700px;*/
  width: 70%;
  margin: 1em auto;
  padding: 0 1em .5em 1em;
  border: 3px solid #a9b7d9;
  border-radius: 10px;
  text-align: left;
}
.oneProject h3 {
  text-align: center;
  padding: .5em 0;
  color: #6666ff;
}
.oneProject p {
  padding: .3em;
}
.oneProject p a {
  color: #0039e6;
}
.oneProject p a:visited {
  color: #0039e6;
}
.tech {
  color: #6666ff;
}
/* Work Experience Section */
#workExperience {
  background: #a9b7d9;
}
#workExperience h2 {
  text-align: center;
  padding: 1em 0;
}

/* Footer */
footer {
  background: #a9b7d9;
  text-align: center;
  padding: 1em;
}

footer div img {
  /*border: 2px solid black;*/
  /*border-radius: 50%;*/
  height: 2em;
  width: 2em;
  vertical-align:middle;
}

.footerDiv {
  display: inline-block;
  margin: 0 1em;
  padding: 0 .5em;

}
.Email {
  text-decoration: none;
  color: black;
}

@media screen and (min-width:960px) {
  body {
    width: 960px;
  }
  nav {
    height: 3em;
  }
}

@media screen and (max-width:900px) {
  nav {
    height: 6em;
  }
}
